header {
    background-color: #365238; /* Color verde */
    color: white;
    padding: 15px;
    position: fixed; /* Fija el header en la parte superior */
    top: 0; /* Ubicación en la parte superior */
    left: 0; /* Alineación a la izquierda */
    right: 0; /* Alineación a la derecha */
    width: 100%; /* Ancho completo */
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
    display: flex; /* Usar flexbox para alinear elementos */
    justify-content: space-between; /* Espacio entre el título y la navegación */
    align-items: center; /* Centrar verticalmente */
    border: 2px solid rgba(0, 0, 0, 0.5); /* Borde oscuro sombreeado */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Sombra para el borde */
}

header h1 {
    margin: 0;
    font-size: 2.5em; /* Tamaño de fuente del título */
    text-align: left; /* Alinear el título a la izquierda */
}

nav {
    margin-top: 0; /* Eliminar margen superior */
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold; /* Negrita para los enlaces */
}

nav a:hover {
    text-decoration: underline;
    color: #e0e0e0; /* Color más claro al pasar el mouse */
}

img{
    max-width: 20px;
}
