.landing-page {

    width: 100vw; /* Ocupar todo el ancho de la página */
    padding: 20px; /* Espaciado interno */
    box-sizing: border-box; /* Incluir padding en el ancho total */
    display: flex; /* Usar flexbox para centrar contenido */
    flex-direction: column; /* Alinear elementos en columna */
    align-items: center; /* Centrar horizontalmente */
    text-align: center; /* Centrar texto */
}

h1 {
    text-shadow: 1px 1px 2px black; /* Sombra negra para mayor contraste */
}

p {
    text-shadow: 1px 1px 2px black; /* Sombra negra para mayor contraste */
}

.introduction{
    color: white;
}
