.shopping-cart {
    width: 100vw; /* Ocupar todo el ancho de la página */
    padding: 20px; /* Espaciado interno */
    box-sizing: border-box; /* Incluir padding en el ancho total */
    display: flex; /* Usar flexbox para centrar contenido */
    flex-direction: column; /* Alinear elementos en columna */
    align-items: center; /* Centrar horizontalmente */
    text-align: center; /* Centrar texto */
    margin-top: 10px;
    overflow-y: auto; /* Permitir scroll vertical */
    max-height: 80vh; /* Limitar la altura máxima para permitir el scroll */
}


.item {
    background: rgba(0, 0, 0, 0.3); /* Fondo pixelado del 10% */
    border-radius: 5%;
}


h2, h3 {

    text-shadow: 1px 1px 2px black; /* Sombra negra para mayor contraste */

}

.item {
    background-image: url('${item.image}'); /* Usar la imagen de la planta correspondiente */
    background-size: cover; /* Cubrir todo el contenedor */
    background-position: center; /* Centrar la imagen de fondo */
    border-radius: 5%; /* Mantener el borde redondeado */
    position: relative; /* Para posicionar otros elementos dentro */
}

